body>footer {
    background-color: $black;
    padding-top: 150px;

    .first-block {
        padding-bottom: 70px;

        .header {
            font-size: 18px;
            text-transform: uppercase;
            line-height: 14px;
            margin-bottom: 32px;
            color: $white;
        }

        .about-us {
            max-width: 282px;

            p {
                font-size: 14px;
                line-height: 24px;
                margin: 0;
                color: $gray;
                word-break: break-all;
                text-align: justify;
                text-align-last: justify;
            }
        }

        .categories {
            max-width: 278px;
            margin-left: 60px;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    font-size: 14px;
                    line-height: 24px;

                    &::before {
                        content: '-';
                        color: $gray;
                    }

                    a {
                        color: $gray;
                    }
                }
            }
        }

        .accept-payments {
            margin-left: auto;
            margin-right: 109px;

            ul {
                margin: 0;
                padding: 8px 0 0;
                list-style: none;
                display: flex;

                li {
                    margin-right: 10px;
                }
            }
        }
    }

    .hr {
        height: 1px;
        background-color: #546E7A;
    }

    .second-block {
        padding: 28px 0 92px;

        .row {
            justify-content: space-between;
        }

        .copyright {
            p {
                margin: 0;
                font-size: 12px;
                line-height: 14px;
                color: $gray;
            }
        }

        .social {
            display: flex;
            justify-content: center;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                font-size: 12px;

                li {
                    a {
                        display: block;
                        color: $gray;
                        margin: 0 14px 0 14px;
                    }
                }
            }
        }

        .other-links {
            display: flex;
            justify-content: flex-end;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;

                li {
                    margin-left: 32px;
                    font-size: 12px;

                    a {
                        color: $gray;
                    }
                }
            }
        }
    }
}