html,
body {
    min-height: 100%;
}

body {
    position: relative;
    font-family: 'Proxima Nova Rg', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    align-items: center;
}

button {
    outline: none !important;
}

.anchor-like-button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 62px;
    vertical-align: bottom;
}

input[type="checkbox"] {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: -30px;
    left: 50%;
    transform: translateX(605px);
    width: 30px;
    height: 30px;
    background-color: $orange14;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    transition: all .3s;
    &.visible {
        bottom: 125px;
    }
}

// /* Chrome, Safari, Edge, Opera */
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
// }

// /* Firefox */
// input[type=number] {
//     -moz-appearance: textfield;
// }

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $gray;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $gray;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $gray;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $gray;
}