$black: #2A2A2B;


$orange14: #F14921;
$orange45: #F4511E;

// 50 оттенков серого
$gray: #90A4AE;

$white: #eeeeee;

// #FEFEFE
// #F6F6F6
// #C9CACB, #c9cacb
// #C8C8C8
// #CBCBCB
// #E9E9E9
// #90a4ae, #90a4ae, #90a4ae
// #546E7A
// #717172
// #FAFAFA

// фонт
// 2a2a2b, 2a2a2b, 2a2a2b, 2a2a2b, 2a2a2b, 2a2a2b
// 5f5f5f
// 202020
// 1a1b1c